/* CSS Document */
body { text-align:center; margin:0; padding:0; font-family:Lucida Grande, Arial; font-size:13px; background-color:#ebebeb; color: #464646; }
.wrapper { margin: 0 auto; width:1020px; }
.content { background-color:#FFFFFF; border:1px solid #bab9b9; text-align: left; padding-bottom:25px; }
.content-header { padding: 25px; }
.content-header p { margin: 0; padding: 0; }
.mainbar { padding: 25px; }

.two-columns-right .mainbar { width: 760px; float: left; }
.two-columns-right .right-sidebar { padding: 25px 15px 0 0; float: right; width: 190px; }

.in { width: 970px; margin: 25px auto; text-align: left; }
.line { border-top:1px solid #bab9b9; height:1px; }
.row { margin: 0 0 25px 0; }
/*.row:hover { background-color: #efefef; }*/

/*.............................................................General.................... */

h1, h2, h3 { margin: 0; padding: 0; }
h1 { font-size: 32px; }
h2 { font-family:Georgia; font-size: 24px; font-style: italic; }
label { display: block; font-weight: bold; text-transform: uppercase; margin-bottom: 10px; border-bottom: 1px solid #BAB9B9; padding-bottom: 2px; }
small { font-weight: normal; font-size: 9px; }
form { }
textarea { width: 200px; border: 1px solid #888888; padding: 4px; margin: 0px; height: 50px; font-family: arial; font-size: 12px;}
input[type=text] {  }
select { background: #fff; display: block; width: 150px; border: 1px solid #888888; padding: 2px 2px 2px 4px; margin: 0px; font-family: arial; font-size: 12px; }
option { padding: 0 0 0 10px; overflow: hidden; }

.form { line-height: 2em; }
a:link, a:visited { color: #30a4b1; text-decoration: none; }
a:hover { color: #f7941d; }
.v_line { padding: 0 5px; color:#999999; }
.red-bold { color: #933; font-weight: bold; }

/*.............................................................Header.................... */

.logo{float: left; margin: 25px 0;}
.txt_right { float: right; margin-top: 15px; }

/*..................................................... Navigation .....................*/
/* SOME HORRIBLE SHIT IS CONFUSING HERE AND IN HTML.....  */
.navbar { padding: 5px 10px; background-color: #464646; float: left; margin-bottom: 20px; width:1000px; text-align: left; position: relative; }

.navigation ul { font-family: Arial, Verdana; font-size: 14px; margin: 0; padding: 0; list-style: none; }
.navigation ul li { display: block; position: relative; float: left;  }
.navigation li ul { display: none; }
.navigation ul li a { display: block; text-decoration: none; color: #ffffff; padding: 6px 18px 6px 18px; white-space: nowrap; font-weight: bold; font-size: 12px; text-transform: uppercase;}
.navigation ul li a:hover { background: #30a4b1; }
.navigation ul li .active { background: #30a4b1; }
.navigation li:hover ul { display: block; position: absolute; width: 160px; }
.navigation li:hover li { float: none; }
.navigation li:hover a { background: #30a4b1; }
.navigation li:hover li a:hover { background: #4eccdb; }
.navigation .icon { margin-left: -5px;  padding: 0 6px 0 0; vertical-align: baseline; }

/*.............................................................Form.................... */

.box { border: 1px solid #bab9b9; padding: 3px; width: 600px; color: #707070; font-size: 14px; }
.box-wide { border: 1px solid #bab9b9; padding: 3px; width: 886px; color: #707070; font-size: 14px; }
.two-columns-right .box-wide { border: 1px solid #bab9b9; padding: 3px; width: 670px; color: #707070; font-size: 14px; }
.box2 { border: 1px solid #bab9b9; padding: 3px; width: 400px; color: #707070; font-size: 14px; }
.box3 { border: 1px solid #bab9b9; padding: 3px; width: 200px; color: #707070; font-size: 14px; }
.box4 { border: 1px solid #bab9b9; padding: 3px; width: 97%; color: #707070; font-size: 14px; }
.box5 { border: 1px solid #bab9b9; padding: 3px; width: 100%; color: #707070; font-size: 14px; }
button.cancel, .submit, .reset-prev, .increase,  .decrease { margin-left: 5px; padding: 5px 15px 3px; border: 0px; background-color: #464646; color: #fff; font-size: 12px; }
.com_btn { margin: 0px; padding: 5px 15px; border: 0px; background-color: #464646; color: #fff; font-size: 12px; }
.submit:hover, .com_btn:hover, .reset-prev:hover, .increase:hover,  .decrease:hover, button.cancel:hover  { background-color: #30a4b1; color: #fff; cursor: pointer; }
.submit { background-color: #F7941D; }
.action-buttons { text-align: right; }
.datepicker { border: 1px solid #bab9b9; padding: 3px; width: 97%; color: #707070; font-size: 14px; }
.error { margin-bottom: 5px; }
.preview-image { width: 200px; margin: 10px 0 0 0; padding: 2px; border: 1px solid #CCC; }
.preview-icon { margin: 10px 0 0 0; padding: 2px; }


/*.............................................................Check YES or NO.................... */

.check { padding: 5px 10px; border: 1px solid #bab9b9; background-color: #f7f7f7; }
.good {}
.icon { padding-right: 8px; float:left; }
.icon2 { padding-left: 1px; }
.icon3 { padding-left: 5px; }
.bad{}

/*..............................Pagination.....................*/
.pagination { background-color: #efefef; padding: 8px; text-align: center; -moz-border-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.pagination a, .pagination strong { background: #FFFFFF; border: 1px solid #ccc; margin: 0 2px; padding: 2px 5px; text-align: center;  -moz-border-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
 .pagination a:hover { background: #EFEFEF; text-align: center; text-decoration: none; -moz-border-radius: 5px;  border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

/*...............................Search Form.....................*/

#searchform{ position:absolute; top:7px; right: 10px;}
.search_box{ padding: 0 0 0 5px; color: #999999; font-size:12px; margin:0; background-color: #FFFFFF; height:22px; width: 250px; border:1px solid #ccc;}
.search_btn { margin: 0 0 0 5px; padding: 0 3px; border: 0px; background-color: #f7941d; color:#fff; height:22px; font-size:12px; }
.search_btn:hover { background-color: #30a4b1; }

/*.............................................................Footer................... */

.footer{text-align:right; margin: 20px 0 40px;}

/*.............................................................Table................... */

/*table { width: 100%;}*/
td { padding: 5px; text-align:left; }
.gray td { background-color:#f7f7f7; }
/*.table_main { border-top: 1px solid #bab9b9; border-right: 1px solid #bab9b9; border-left: 1px solid #bab9b9;}*/
/*.table_main .delete {background:url(../images/x.gif) center left no-repeat; padding-left:12px;}*/
tr td {border-bottom: 1px dotted #bab9b9;}
tr:hover { background-color: #efefef; }
.cols3table tr td { border-bottom: 0px solid #FFF; }
table.table_sub {margin-bottom: 5px;}
.table_sub th {padding: 4px 2px; text-align: left; font-size: 11px; border-bottom: 1px solid #900;}
.table_sub td {padding: 4px 2px; text-align: center;}

content.col1 {}
content.col2 {}
content.col3 {}
content.col4 {}
content.col5 {}
content.col6 {}
content.col7 {}

.clear{ clear:both; }

/*.................................................... Tags Autocomplete .....................................................*/

div.tagsinput { border:1px solid #BAB9B9; background: #FFF; padding:2px; width: 100%; height: 30px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #CCC; display: block; float: left; padding: 2px 5px; text-decoration:none; background: #464646; color: #FFFFFF; margin-right: 5px; font-family: helvetica; font-size:13px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
div.tagsinput span.tag a { font-weight: bold; color: #F7941D; text-decoration:none; font-size: 11px; }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding: 2px 5px; background: transparent; color: #000; outline:0px; margin-right:5px; margin-bottom:0px; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

.tags a.ui-corner-all { text-align: left; }
.tagsinput {height:50%;}
