/***********************************************************************************
RESET
***********************************************************************************/
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section, generic-sidebar { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { font: 13px sans-serif *font-size:small *font:x-small line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
textarea{overflow:auto}
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* Border around images */
img {
    border: solid 1px #E9E9E9;
    margin-bottom: 10px;
    padding: 5px;
}

body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/***********************************************************************************
GRID
***********************************************************************************/
.grid1, .grid2, .grid3{
	float: left;
	position: relative;
	text-align: left;
}
	.grid1{
		margin: 0 auto;
		float: none;
		width: 890px;
		padding: 0 45px;
	}
	.grid2{
		width: 585px;
	}
	.grid3{
		width: 280px;
	}
header{
	width: 890px;
	height: 70px;
	padding: 20px 0px 30px;
}
	header img{
		float: left;
	}

/***********************************************************************************
STRUCTURE
***********************************************************************************/
ul, ol{
	margin: 0 0 11px 22px;	
}

.grid3, .grid2{
	margin-right: 25px;	
 }

/* Reset margins and paddings */
.reset { padding: 0 !important; margin: 0 !important; }
.reset-padding { padding: 0 !important; }
.reset-margin { margin: 0 !important; }

/* Aligns */
.left{
	float: left;	
}
.right{
	float: right;	
}
img.left, figure.left{
	margin: 5px 11px 11px 0;	
}
img.right, figure.right{
	margin: 5px 0 11px 11px;	
}
p.right, blockquote.right, p.left, blockquote.left{
	width: 40%;
}
figure.left, figure.right{
	width: auto;
}

/* Ruler */
hr{
	height: 10px;	
}
	hr.top, hr.bottom{
		position: absolute;
		left: 5px;
		width: 970px;
		margin: 0px;
	}
	hr.top{
		top: 0px;	
	}
	hr.bottom{
		bottom: 0px;
	}

/* Pre and code and blockquote */
pre, code,blockquote{
	padding:  5px 11px;
	margin: 11px;	
}

/* Figure */
figure{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;	
}
	#main figure img{
		margin: 0 auto;
		clear: both;
	}
figcaption {
	color:#999;
	font-size:11px;
	font-style:italic;
	line-height:14px;
	text-align:center;
	vertical-align:baseline;
	display: block;
}

/* Description tag: use this to place a div beside an image and keep the text in one column */
.description{
	display: table-cell;	
}

.description p { line-height: 18px; }
.description h5 { padding: 5px 0px 0px; }

/***********************************************************************************
STYLE
***********************************************************************************/
body {
	font: 12px Helvetica, Arial, sans-serif;
	line-height: 22px;
	color: #666;
}

#gallery {
	border: solid 1px #E9E9E9;	
}
#wrapper {
	background: transparent url(../images/wrapper.gif) repeat-y 0 0;	
}

/* Headers */
h1{}
h1,h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-family: 'FuturaCondensedNormalRegular', Arial, sans-serif;
	padding-top: 11px;
	font-weight: normal;
}
h2, h3, h4, h5, h6{
	padding-bottom: 4px;
}
    h1{
            font-size: 30px;
            color: #999;	
    }
            h1 span{
                    font-size: 20px;
                    padding-left: 15px;
                    color: #ccc;
            }
    h2{
            font-size: 24px;
            color: #9ad007;
    }
            h2 span{
                    font-size: 14px;
                    color: #ccc;
                                                        display: block;
            }
    h3{
            font-size: 22px;
            color: #333;	
    }
    h4{
            font-size: 20px;
            color: #333;	
    }
    h5{
            font-size: 18px;
            color: #666;	
    }
    h6{
            font-size: 16px;
            color: #999;
    }

/* Tag line used under the gallery on main page */
.tagline{
	font-size: 18px;
	font-style:italic;	
	color: #999;
}

/* Border around images */
#main img, #main iframe{
	border: solid 1px #E9E9E9;	
}


hr{	
    border: 0;
    background-color: #FFF;
    background: transparent url(../images/hr.gif) repeat 0 0 !important;
}

/* Pre and code */
pre, code{
    border: 1px solid #E9E9E9;	
    background: #F3F3F3;
}
blockquote{
    color: #999;
    font-style:italic;	
}

/* Table */
table{
    border:1px solid #E9E9E9;	
    margin-bottom: 11px;
}
table thead th{
    text-transform: uppercase;
    color: #333;	
    background:#E9E9E9;
    padding: 2px 5px;
}
table tbody td{
    color: #666;
    border-bottom:1px solid #E9E9E9;	
    padding: 2px 5px;
}

/* Link list */
.links{
    list-style: none;
    border-top:1px solid #E9E9E9;	
    margin: 0 0 11px 0;
    padding: 0;	
}
.links li{
    border-bottom:1px solid #E9E9E9;
    padding: 5px 0;	
}

/* Tick list */
.tick, .cross, .plus, .minus{
    list-style: none;
    margin: 0 0 11px 0;
    padding: 0;	
}
.tick li{	
    background: transparent url(../images/icons/tick.gif) no-repeat 0 5px;
    padding-left: 17px;
}
.cross li{	
    background: transparent url(../images/icons/cross.gif) no-repeat 0 5px;
    padding-left: 17px;
}
.plus li{	
    background: transparent url(../images/icons/plus.gif) no-repeat 0 5px;
    padding-left: 17px;
}
.minus li{	
    background: transparent url(../images/icons/minus.gif) no-repeat 0 5px;
    padding-left: 17px;
}

/* Meta info */
.meta{
    font-size: 11px;
    color: #999;	
}
.comment{
    background: transparent url(../images/icons/comment.gif) no-repeat 0 5px;
    padding-left: 14px;
}
.bookmark{
    background: transparent url(../images/icons/bookmark.gif) no-repeat 0 5px;
    padding-left: 14px;
}
.person{
    background: transparent url(../images/icons/person.gif) no-repeat 0 5px;
    padding-left: 14px;
}
.podcast{
    background: transparent url(../images/icons/podcast.gif) no-repeat 0 5px;
    padding-left: 14px;
}
.document{
    background: transparent url(../images/icons/document.gif) no-repeat 0 5px;
    padding-left: 14px;
}

/* Ads */
#main .ads img{
	border: none;
	padding: 0px;	
}

/* HTML5 form */
.focus.invalid{
  color: #C00 !important;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  color: #C00 !important;
}
input.valid, textarea.valid, input:valid, textarea:valid{
    background: #FFF url(../images/icons/tick.gif) no-repeat 97% 8px;	
}
.placeholder{
    color: #999 !important;
    background-image: none !important; /* Fix for opera */
}
input::-webkit-input-placeholder {
    color: #999 !important;
}

/***********************************************************************************
button
***********************************************************************************/
button, a:link.button, a:visited.button, a:active.button {
    background: #9ad007;
    padding: 6px 22px;
    font-weight: bold;
    color: #FFF;
    border: none;
}

button:hover,  a:hover.button {
    background: #333;
    text-decoration: none;
}

a.button {
    padding: 8px 22px !important;	
}