/*intro page CSS */


#body-intro {
	background-color:#000;
	color:#FFF;
	min-width:600px;
	min-height:500px
	}

#intro-cont {
	min-height:500px;
	max-height:800px;
}

#intro-img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 863;
   height: 213px;
   margin-top: -106px; /* Half the height */
   margin-left: -441px; /* Half the width */}

.intro-text {
	font-size:5em;}

#SFA_logo {
	float:right;
	}

#language{
	float:right;
	background:#000;
	font:12px/100% "Courier New", Courier, monospace;
	margin:0;
	padding:5px;
}
#language a{
	color:#FFF;
	text-decoration:none;
}
#language a:hover, a:active, a:focus {
	color:#6E6C64;
}

/*site SCC*/
body {
	font-family: Courier New, 'Radley', serif;;
	background: #E6E7E8;
	margin: 0;
	padding: 0;
	color: #000;
	min-width:600px;
	}

h1, h2, h3, h4, h5, h6, p {
	background-image: url("/img/fix.png");
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	text-align: left;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	margin: 0;
}

a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	/*padding-right: 15px;*/
	/*padding-left: 15px;*/
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	//vertical-align: middle;
}


h1 a:link, h2>a:link, h3>a:link, h4>a:link, h2 a:visited {
	padding-left: 0px;
	color: #000;
	text-decoration: none;
}


.container {
	/*width: 960px;*/
	width: 1000px;
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

.header {
	background: #000;
}

.content {
	padding: 20px;
	text-align: left;
}

.footer {
	padding: 0 0 0 0;
	background: #000;
}

.footer a {
	color:#CCC;
	font-size:0.7em;
	text-decoration:none;
	}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.tab {
	width:100%;
	padding:0;
	table-layout: auto
}
.tab2{
	margin-left:15px;
}

#deadline a {
	color: #F00;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

#deadline a:link {
	color: #F00;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
#deadline a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
#deadline a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #42413C;
	//vertical-align: middle;
}

#deadline-stamp{
	position:relative;
	float:right;
	margin-right:120px;
	margin-top:120px;
	z-index:1;
	border:0;
}

#candidates-stamp a:link{
	position:absolute;
	float:right;
	top:60%;
	left:55%;
	z-index:1;
	border:0;
}

#candidates-stamp a:hover{
	top:60.1%;
	left:54.9%;
}

#facebook {
	margin:15px;
	padding:5px 0 1px;
	background-color:#DDD;
}


.progTbl, .progTbl th, .progTbl td{
	border: thin solid black;
}

.dProgramme{
	width:900px;
	margin: 0 auto;
}


.pagination{
	display: flex;
	width: 50%;
	list-style-type: none;
	padding-right: 21px;
}

ol{	
display: block;	
margin-left: 33px;
}