#menu_wrap{
	position:relative;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	padding-right:0px;
	width:100%;
  /*width:955px;*/
	height:31px;
	list-style-type:none;
  z-index: 10;
	}
#menu_wrap ul {
  font:13px/100% "Courier New", Courier, monospace;
	font-weight:bold;
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu_wrap ul li {
  display: block;
  position: relative;
  float: left;
}
#menu_wrap li ul { display: none; }
#menu_wrap ul li a {
  display: block;
  text-decoration: none;
  color: #d7d7d7;
  background: #000;
  border-right:solid 1px #000000;
  min-width:50px;
  text-align:center;
 padding:10px;
  padding-top:5px;
  padding-bottom:13px;
  white-space: nowrap;
}
#menu_wrap ul li a:hover { background: #444444; }
#menu_wrap li:hover ul {
  display: block;
  position: absolute;
}
#menu_wrap li:hover li {
  float: none;
  font-size: 13px;
}
#menu_wrap li:hover a { background: #000; }
#menu_wrap li:hover li a:hover { background: #444444; }