<h2>Link buttons</h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et. </p>
  <p>
<a href="#" class="button">Download example files</a>
<a href="#" class="button">View live demo</a>
</p>
</div>