<h2>Pre tag example</h2>
<pre>
-- delete all trashed posts
DELETE FROM wp_posts WHERE post_status='trash';
-- delete all spam and trashed comments
DELETE FROM wp_comments WHERE comment_approved IN ('spam', 'trash');
</pre>