<h2>Video with description example</h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et. </p>
<figure>
  <video height="304" width="500" controls="" preload="" poster="http://c0203141.cdn.cloudfiles.rackspacecloud.com/7ce1121d-2347-490a-97e8-99a158466f75.jpg" src="http://c0203131.cdn.cloudfiles.rackspacecloud.com/7ce1121d-2347-490a-97e8-99a158466f75.mp4" tabindex="0"></video>
  <figcaption>Create backups with <a href="http://codecanyon.net/item/advanced-backup-system/88574">Advanced Backup System</a></figcaption>
</figure>