/*  SSST EXTRA STYLES   */

.ssst-left-image {
    float: left;
    margin: 0px 5px 10px 0px;
}

.ssst-right-image {
    float: right;
    margin: 0px 0px 10px 5px;
}

.ssst-left-image , .ssst-right-image  {
    height: 220px;
    width: 330px;
}


.ssst-red { background: #bf3125; color: #FFFFFF; }
.ssst-gray { background: #282828; color: #FFFFFF; }
.ssst-blue { background: #302c43; color: #FFFFFF; }
.ssst-blue a, .ssst-red a, .ssst-gray a { color: #FFFFFF !important; }
.ssst-blue a:hover, .ssst-red a:hover, .ssst-gray a:hover { text-decoration: none; }

.box_gray { background: #d8d8d8; border: 1px solid rgba(0, 0, 0, 0.05); padding: 5px; margin-top: 10px; margin-bottom: 10px; }
.box_gray p { margin: 0px; }
.box_full { background: #f5f5f5; border: 1px solid rgba(0, 0, 0, 0.05); padding: 5px; margin-top: 10px; margin-bottom: 10px; }
.box_full p { margin: 0px; }
.box_left { width: 318px; margin-right: 10px; float: left; padding: 5px; background: #f5f5f5; border: 1px solid rgba(0, 0, 0, 0.05); margin-bottom: 5px; margin-top: 5px }
.box_left p { margin: 0px; }
.image_right { margin-left: 10px; margin-right: 0px; }
.image_left { float: left; margin-left: 0px; margin-right: 10px; }