/***********************************************************************************
FONTS
 ***********************************************************************************/
@font-face {
    font-family: Novecentowide-Normal;
    src: url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-Normal-webfont.eot');
    src: local('☺'), url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-Normal-webfont.ttf'),
}

@font-face {
    font-family: Novecentowide-DemiBold;
    src: url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-DemiBold-webfont.eot');
    src: local('☺'), url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-DemiBold-webfont.ttf');
}

@font-face {
    font-family: Novecentowide-Book;
    src: url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-Book-webfont.eot');
    src: local('☺'), url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-Book-webfont.ttf');
}

@font-face {
    font-family: Novecentowide-Bold;
    src: url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-Bold-webfont.eot');
    src: local('☺'), url('http://www.adriablues.com/css/fonts/NOVECENTO/Novecentowide-Bold-webfont.ttf');
}

@font-face {
    font-family: 'FuturaCondensedNormalRegular';
    src: url('types/futura_3-webfont.eot');
    src: local('☺'), url('types/futura_3-webfont.woff') format('woff'), url('types/futura_3-webfont.ttf') format('truetype'), url('types/futura_3-webfont.svg#webfontJYvtmMp4') format('svg');
    font-weight: normal;
    font-style: normal;
}
